<!-- para utilizar la funcionalidad de enlace en doble vía ([(ngModel)]), 
  se debe importar el módulo FormsModule en el archivo app.module.ts. -->
<!-- input campo de entrada --> <!-- variable texto -->
<input [(ngModel)]="texto" placeholder="Escribe aquí"> <!--[(ngModel)] enlace de doble vía  -->
<p>{{ texto }}</p><!-- interpolación -->
<!-- Cada vez que se escribe algo en el campo de texto, la variable texto se actualiza en
  tiempo real y se muestra debajo del campo de texto utilizando la interpolación 
  ({{ texto }}). -->
<!-- 
  La interpolación de cadenas en Angular es el mecanismo para sustituir una expresión por
  un valor de tipo string en la plantilla (template). Cuando Angular se encuentra una
   expresión entre {{}} en la plantilla lo evalúa y trata de sustituir el contenido por el
   valor de la propiedad del componente con el mismo nombre.
 -->


<router-outlet></router-outlet>
